/* Zurita_MiguelAngel_Estils.css */

/* Estilos generales  */
html, body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333333;
    height: 100%;
    width: 100%;
}

header {
    background-color: #041adb;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

/*Estilos de navegación */
nav {
    position: absolute;
    width: 15%;
    background-color: #4c5eff;
    height: 100vh;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    position: relative;
    left: 15%;
    width: 85%;
    height: 100%;
    background: #ffffff;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 10px;
    background-color: #333333;
    color: #ffffff;
    text-align: center;
}
.catalogo{
    width: 100%;
    height: 100%;
    background-color: rgb(98, 178, 252);
    padding: 10px;
}

.producto{
    float: left;
    position: relative;
    background-color: #ffffff;
    border: 1px solid #333333;
    padding: 10px;
    border-radius:5px;
    margin: 10px;
    align-content: center;
    text-align: center;
    width: 200px;
    height: 350px;
}

.producto img{
    width: 100px;
    height: 100px;
}